{
  "plugins": [
    "lodash",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true,
      }
    ],
    "dynamic-import-node"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
