# Logs
logs
*.log

# Mac Trash directories
*.DS_Store

# Dependency directory
node_modules

#intellij
.idea/
*.iml

# generated scripts/css in public should not be commited
public/bundles
static_codegen
.nyc_output/
coverage

