doctype html
html
  head
    title= 'Haystack'
    link(rel='stylesheet', href='/bundles/style/app.css')
    // prefetch fonts
    link(rel='preload', href='/fonts/titillium-web-v5-latin-300.woff2')
    link(rel='preload', href='/fonts/titillium-web-v5-latin-regular.woff2')
    link(rel='preload', href='/fonts/titillium-web-v5-latin-600.woff2')
    link(rel='preload', href='/fonts/titillium-web-v5-latin-700.woff2')
    link(rel='preload', href='/fonts/themify.woff')

  body
    #root
    script.
      var subsystems = !{JSON.stringify(subsystems)}
    script(async, defer, src='/bundles/js/app.js')